

@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    font-family: 'Overlock', cursive;
    font-weight: bold;
    text-align: center;
}
main {
    width: 90px;
    margin: 0 auto;
}

.Snack {
    width: 150.00px; 
    padding: 1em;
    background-color: rgb(255, 252, 242);
  
}

article {
    justify-content: space-between;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
 
}

h1 {
    font-family: 'Carter One', cursive;
}
h4 {
    font-size: 1em;
    margin: 0;
}

button {
    border-radius: 10px;
    margin: 20px 20px;
}

button > a {
    color: black;
    font-size: larger;
    text-decoration: none;
}


.Snack h4 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.Snack {
    background-color: rgb(255, 252, 242)
}

.Snacks {
   
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 4em 4em;
}
.Snacks img {
    width: 150px;
}

.hearts {
    max-width: 30px;
}
 ul {
    list-style: none;
 }

 .main-snack-img {
    max-width: 150px;
    align-content: center;
 }
 .darn-snacks  {
    padding: 1em;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: blanchedalmond;
    margin: 4em 4em;
} 

