nav {
    background: #1d3c3db6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 1em;
    font-family: 'Fredericka the Great', cursive;
    
  }

  .nav-title:link {
    color: #E1DCCB;
    text-decoration: none;
  }  
    
  
  .nav-title:hover {
    color: #E1DCCB;
    text-decoration: underline;
  }
  
button {
  align-items: center;
  background-color: #1C3B3D;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #dedcc0;
  cursor: pointer;
  display: flex;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 25px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #fff5da;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}

.cookie {
  height: 50px;
  align-items: center;
}

