h2 {
    text-align:center;
    font-family: 'Carter One', cursive;
    color:brown;
}



h3 {
    color:brown;
    text-align:center;
}
.taryne-photo {
    max-width: 350px;
    max-height: 325px;
}

p {
   text-align: center;
}

.jonathan-photo {
    max-width: 350px;
    max-height: 325px;
}

