h2 {
    text-align:center;
    font-family: 'Carter One', cursive;
    color:brown;
}

h3 {
    color:brown;
    text-align:center;
}

.bio-name {
    font-size: 25px;
}

p {
   text-align: center;
}

.bio-text {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
}

.icon {
  padding: 10px;
}