body {
  font-family: 'Merienda', cursive;
  font-weight: 800;
  background-color: #20362176;
  color: #e6e2d3;
}


button {
    align-items: center;
    background-color: #D6D3C0;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 25px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  button:hover:after {
    transform: translate(0, 0);
  }
  
  button:active {
    background-color: #D6D3C0;
    outline: 0;
  }
  
  button:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    button {
      padding: 0 40px;
    }
  }

